{% extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}

<div class="header-middle bg-white py-4">
    <div class="container-fluid">
        <div class="row align-items-center">

            <div class="col-sm-6 col-lg-6 order-md-2 text-home">
                <h3>Войти:</h3>

                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

            <form method="POST" action="{{ url_for('login') }}">
               
                {{ form.csrf_token }}

                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}
                </p>
                <p>
                    <input type="submit" value="Вход">
                </p>
                <p class="py-4">
                    <p>У вас нет аккаунта? <br> Зарегистрируйте нового пользователя: <br>
                        <button class="btn btn-primary"><a href="{{ url_for('register') }}">Регистрация</a></button></p>
                    
                </p>
            </form>
            </div>

            <div class="col-lg-6 order-md-1 cart-buttons d-none d-lg-block">
                <img src="{{ url_for('static', filename='img/img_2.jpg')}}" alt="some-picture" width="80%">
            </div>

        </div>
    </div>

</div><!-- ./end-form -->

{% endblock %}