{% extends 'base.html' %}

{% block title %}

    {{ super() }} - {{ title }}

{% endblock %}

{% block content %}
    <div class="main-content row ru-3">
        <div class="col-12 col-md-6 display-2">
            <h1>О нас:</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro praesentium unde vitae saepe, distinctio minima quibusdam quas impedit similique, debitis dolores hic quis. Dolore dicta exercitationem iure fuga cupiditate architecto.</p>
          
        </div>
        
        <div class="col-12 col-md-6">
            <img src="../static/img/About_Us.jpg" class="img-fluid rounded-circle" alt="photo shop">
        </div>
    </div>
{% endblock %}
