:root {
    --bg-color: #dbfbff;
    --text-color: #2a2929;
    --accent-color: #070460;
    --contrast-color: #ebf0f9;
    --gray-color: #ccc;

}

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn,
.dropdown-menu,
.form-control {
    border-radius: 0;
}

.form-control :focus {
    color: var(--text-color);
    /* border-radius: 0; */
    border-color: var(--accent-color);
    box-shadow: none;
}

.form-control::placeholder {
    color: var(--gray-color);
}

.btn-primary {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

.btn-outline-primary {
    border-color: var(--gray-color)
}

.bg-primary {
    background-color: var(--accent-color) !important
}

.btn-outline-primary:hover {
    background-color: var(--accent-color);
    color: var(--contrast-color);
}

/* ========================= General rules ============================= */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

/* ========================= General rules ============================= */

/* ========================= Header rules ============================= */

.header-phone a {
    text-decoration: none;
}

.header-phone a:hover {
    text-decoration: underline;
}

ul.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 0;

}

ul.social-icons li {
    margin-right: 15px;
}

ul.social-icons a {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    transition: all .3s;

}

ul.social-icons a:hover {
    background-color: var(--contrast-color);
    color: var(--accent-color);
}

.header-top .btn {
    background-color: #fff;
}

.header-logo {
    text-decoration: none;
    color: var(--accent-color);
}

.cart-buttons, .btn {
    color:var(--accent-color);
    transition: all .3s;
}

.btn:hover {
    border: 1px solid var(--gray-color);
}

.header-bottom {
    border-top: 3px solid var(--contrast-color);
    box-shadow: 0 10 10 rgba(0, 0, 0, .3);
}

.header-bottom .navbar {
    background-color: var(--accent-color) !important;
}

.header-bottom .nav-item:first-child .nav-link {
    padding-left: 0;
}

.header-bottom .navbar .nav-link {
    color: #fff;
    transition: all 0.3s;
    letter-spacing: 0.1rem;
}

.header-bottom .navbar .nav-link:hover {
    color: var(--gray-color);
}

.header-bottom .navbar .nav-link:active {
    color: var(--gray-color); 
}

.header-bottom .navbar .dropdown-menu {
    background-color: var(--accent-color);
    margin-top: 7px;
}

/* ========================= Header rules ============================= */

@media only screen and (min-width: 992px) {
    .header-bottom .navbar .dropdown-menu-end {
        margin-left: 0;
        border: 0;
    }      

    .header-bottom .navbar .nav-link {
        padding: 1rem;
    } 
}

@media only screen and (max-width: 992px) {
    .header-bottom .navbar .dropdown-menu {
        padding-left: 1rem;
    }      
}